<h1>
  {{title}}
</h1>
<div class="container-fluid">
  <hr>
  <p>
    This demo plnkr is the beginning of an Angular2 <strong>Multiselect</strong> project: Angular 2 powered Bootstrap. Visit <a href="https://long2know.com/" target="_blank">https://long2know.com</a> for more demos and discussion..
  </p>
  <hr>
  <table>
    <tr><div class='row' style='max-height: 50px'> <app-multiselect name="items" class="pull-left" [items]="items"></app-multiselect>
    </div></tr><tr>    <
  </table>
  <ul class="pull-right">
    <!--<li *ngFor="let item of watchedItems | equal:{checked: true}">{{ item.label }}</li>-->
  </ul>
</div>


